.brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.thumbnails
{
    background: url("../img/strip.png") top center repeat-y;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-unit
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}